SCCS
core
old
save
*.log
*.out
*.sv
*.t[gb]z
*.zip
*.[oa]
a.out
Makefile.in
po
autom4te.cache
acinclude.m4
aclocal.m4
subdirs
libtool
stamp-*
.deps
.libs
admin
.directory
*.moc
*.moc.cpp
*ui.cpp
*ui.h
drawview
drawfilter
nondist/
*.tar.gz
*~
config.h
config.status
config.h.in
Makefile
