<?xml version="1.0" encoding="UTF-8"?>
<gui name="drawview"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >

  <MenuBar>
    <Menu name="file">
      <Action name="file_export" append="save_merge"/>
      <Action name="file_dump" append="save_merge"/>
    </Menu>

    <Menu name="view">
      <Action name="view_clipping"/>
      <Action name="view_antialiasing"/>
      <Action name="view_bounding_boxes"/>
      <Action name="view_skeleton_objects"/>
    </Menu>

    <Menu name="settings">
      <Action name="settings_page_size" append="save_merge"/>
    </Menu>

  </MenuBar>

</gui>
